@font-face {
 font-family: Redressed-Regular;
 src: url(../fonts/Redressed-Regular.ttf);
}
@font-face {
 font-family: Mulish-SemiBold;
 src: url(../fonts/Mulish-SemiBold.ttf);
}
.waiting-approval {
 background-image: url(../images/approval-back.png);
 background-repeat: no-repeat;
 background-position: 100% 100%;
 background-size: cover;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 .approval-back {
  background: #fffffff0;
  padding: 30px;
  font-family: Mulish-SemiBold !important;
  text-align: center;
  margin: 50px 0px;
  img {
   width: 160px;
   margin-bottom: 30px;
   margin-top: 30px;
  }
  h1 {
   font-family: quigley !important;
   margin-bottom: 50px;
  }
 }
}
